# PhpStorm
.idea

# Sublime
*.sublime-project
*.sublime-workspace

# Grunt
/node_modules

# Bower
/bower_components

# Composer
# Ignore the /vendor/ directory for people using composer
/vendor

# If the vendor directory isn't being commited the composer.lock file should also be ignored
/composer.lock

# Sass
/.sass-cache

# Tests
phpunit.xml

# Logs
/logs

# wordpress.org
/build

# Mac crap
.DS_Store

# Windows crap
ehthumbs.db
Thumbs.db
includes/vendor/autoload.php
includes/vendor/composer/autoload_classmap.php
includes/vendor/composer/autoload_namespaces.php
includes/vendor/composer/autoload_psr4.php
includes/vendor/composer/autoload_real.php
includes/vendor/composer/autoload_static.php
includes/vendor/composer/ClassLoader.php
includes/vendor/composer/LICENSE
vendor/
third-party/
