# title of generated documentation
title: Simple Calendar

# Use a specific template
# templateConfig: apigen/your-theme/config.neon

# choose ApiGen template theme
templateTheme: default

# base url used for sitemap (useful for public doc)
# baseUrl: http://simplecalendar.io/codex/

# Source file or directory to parse
source: includes

# character set of source files; if you use only one across your files, we recommend you name it
charset: [UTF-8]

# Directory where to save the generated documentation
destination: docs

# List of scanned file extensions (e.g. php5, phpt...)
extensions: [php]

# Grouping of classes
groups: auto

# Generate documentation for methods and properties with given access level
accessLevels: [public]

# Generate documentation for elements marked as internal and display internal documentation parts
internal: true
php: true

# Generate tree view of classes, interfaces and exceptions
tree: true

# Generate documentation for deprecated classes, methods, properties and constants
deprecated: false

# Generate documentation of tasks
todo: false

# Generate highlighted source code files
sourceCode: true

# Add a link to download documentation as a ZIP archive
download: false
