<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	printerFile="vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
	printerClass="NyanCat\PHPUnit\ResultPrinter"
	>
	<testsuites>
		<testsuite name="Google Calendar Events Tests">
			<directory suffix=".php">./tests/phpunit/unit-tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<blacklist>
			<directory suffix=".php">./apigen/</directory>
			<directory suffix=".php">./i18n/</directory>
			<directory suffix=".php">./tests/</directory>
			<directory suffix=".php">./tmp/</directory>
		</blacklist>
	</filter>
	<logging>
		<log type="coverage-html" target="./tmp/coverage" charset="UTF-8" />
	</logging>
</phpunit>
