.simcal-default-calendar-grid {

  > table {

    table-layout: fixed;
    width: 100%;

    thead th,
    tbody td {
      text-align: center;
      vertical-align: top;
    }

    tbody td {
      padding: 0 !important;
    }
  }

  .simcal-calendar-head {

    .simcal-nav {
      padding: 10px 0;
      vertical-align: middle;

      &.simcal-prev-wrapper,
      &.simcal-current {
        border-right: 0;
      }
    }
  }

  // Table cells.
  .simcal-day > div {
    box-sizing: content-box;
    display: block;
    height: 100%;
  }

  // Cells in the grid before the start day of the month OR after the last day of the month.
  .simcal-day-void {
    border-width: 0 0 1px 0;
    height: 100%;
    min-height: 32px;

    &.simcal-day-void-last {
      border-right-width: 1px;
    }
  }

  // The number of the day in a month.
  .simcal-day-number {
    display: block;
    line-height: 1;
    padding: 2px 4px 3px;
    vertical-align: middle;
  }

  // When there are no events, this is a spacer.
  .simcal-no-events {
    display: block;
    min-height: 32px;
  }

  // Light color theme variations.
  &.simcal-default-calendar-light {

    .simcal-day {
      &:hover {
        background-color: transparentize( $default-calendar-black, .9);
      }
    }

    .simcal-day-void {

      background-color: transparentize( $default-calendar-black, .96);

      &:hover {
        background-color: transparentize( $default-calendar-black, .96);
      }
    }

    .simcal-day-number {
      background: transparentize($default-calendar-black, .9);
    }
  }

  // Dark theme color variations.
  &.simcal-default-calendar-dark {

    .simcal-day {
      &:hover {
        background-color: transparentize( $default-calendar-white, .82);
      }
    }

    .simcal-day-void {

      background-color: transparentize( $default-calendar-white, .95);

      &:hover {
        background-color: transparentize( $default-calendar-white, .95);
      }
    }

    .simcal-day-number {
      background: transparentize($default-calendar-white, .9);
    }
  }

  // List of events in a day.
  .simcal-events {

    font-size: .68em;
    line-height: 1.4;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    // An event.
    > .simcal-event {

      border-bottom-style: solid;
      border-bottom-width: 1px;
      cursor: pointer;
      list-style: none;
      margin: 0 0 2px 0;
      padding: 4px;

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  &.simcal-default-calendar-light {
    .simcal-event {
        border-bottom-color: transparentize($default-calendar-black, .9);
    }
  }

  &.simcal-default-calendar-dark {
    .simcal-event {
      border-bottom-color: transparentize($default-calendar-white, .9);
    }
  }

  // List of events in mobile mode.
  .simcal-events-dots {
    cursor: pointer;
    display: block;
    line-height: .7;
    margin: 3px 0;
    text-align: center;
  }

  // Button to toggle visibility of events.
  .simcal-events-toggle {

    background: transparent;
    display: block;
    font-size: 10px;
    padding: 2px 0;
  }
}

// Event tooltip bubble.
&.simcal-event-bubble {

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

  // Event bubble triangle.
  &:before {
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    left: 50%;
    line-height: 0;
    margin: -5px 0 0 -5px;
    position: absolute;
    width: 0;
    z-index: 16000;
  }

  // Event bubble triangle edge border.
  &:after {
    border-bottom: 5px solid rgba(0, 0, 0, .18);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    left: 50%;
    line-height: 0;
    margin: -6px 0 0 -5px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 14999;
  }

  .simcal-event-details {

    p,
    .simcal-event-description {
      margin: 0 0 1em;
    }
  }
}

.qtip-tip {
  display: none !important;
}

.simcal-edit-link {
  font-size: 12px;
  text-align: right;
  margin: 0;
  padding: 0;
}
