.simcal-default-calendar-list {

  min-height: 100px;
  padding: 10px 0;
  text-align: left;

  .simcal-calendar-head {

    display: table;
    padding-bottom: 10px;
    width: 100%;

    .simcal-nav {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 20%;
    }

    .simcal-nav:nth-child(2) {
      width: 60%;
    }

    .simcal-current span {
      display: inline-block;
    }

    .simcal-hide-header {
      visibility: hidden;
    }
  }

  dl.simcal-month {
    margin-bottom: 10px;
    padding: 0 10px 10px;
  }

  dd.simcal-day {
    list-style: none;
    margin: 0;
  }

  dt.simcal-day-label {

    font-size: .9em;
    list-style: none;
    margin: 20px 0 10px;

    > span {
      display: inline-block;
      padding: 4px 8px;
    }
  }

  ul.simcal-events {

    margin: 10px 14px 0;

    li.simcal-event {
      list-style-type: none;
      margin-bottom: 10px;
      word-wrap: break-word;
    }
  }

  .simcal-event-details {

    font-size: .84em;
    line-height: 1.5;
    overflow: hidden;

    p,
    .simcal-event-description {
      margin: 0 0 1em;
    }

  }

  .simcal-events-toggle {
    display: inline-block;
    padding: 0;
  }

  &.simcal-default-calendar-light {
    .simcal-events-toggle {
      background-color: transparentize($default-calendar-black, .9);
    }
  }

  &.simcal-default-calendar-dark {
    .simcal-events-toggle {
      background-color: transparentize($default-calendar-white, .9);
    }
  }

  // Compact list
  .simcal-calendar-list-compact {

    // Smaller header title & nav
    .simcal-calendar-head {

      .simcal-nav {

        h3 {
          font-size: 1em;
        }
      }
    }
  }
}

.simcal-edit-link {
  font-size: 12px;
  text-align: right;
  margin: 0;
  padding: 0;
}
