
$default-calendar-black: rgb(0, 0, 0);
$default-calendar-white: rgb(255, 255, 255);

.simcal-default-calendar {

  // Calendar header.
  .simcal-current h3 {
    margin: 0;
    padding: 0;
  }

  .simcal-nav {
    vertical-align: middle;
  }

  // Navigation buttons.
  .simcal-nav-button {

    background: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0;
    transition: margin .2s ease-out;
    width: 100%;

    &:focus,
    &:hover {
      background: transparent;
      border: 0;
      box-shadow: none;
      outline: none;
    }

    &.simcal-prev:hover {
      margin-left: -10px;
    }

    &.simcal-next:hover {
      margin-right: -10px;
    }

    &:disabled {
      &:hover {
        margin: 0;
      }
    }

  }

  // Toggle events button.
  .simcal-events-toggle {

    border: 0;
    box-shadow: none;
    text-align: center;
    width: 100%;

    &:active,
    &:focus,
    &:hover {
      border: 0;
      box-shadow: none;
      outline: none;
    }

  }

  // Event tooltip bubble.
  &.simcal-event-bubble {

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

    // Event bubble triangle.
    &:before {
      border-bottom: 5px solid #fff;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: ' ';
      display: block;
      font-size: 0;
      height: 0;
      left: 50%;
      line-height: 0;
      margin: -5px 0 0 -5px;
      position: absolute;
      width: 0;
      z-index: 16000;
    }

    // Event bubble triangle edge border.
    &:after {
      border-bottom: 5px solid rgba(0, 0, 0, .18);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: ' ';
      display: block;
      font-size: 0;
      height: 0;
      left: 50%;
      line-height: 0;
      margin: -6px 0 0 -5px;
      position: absolute;
      top: 0;
      width: 0;
      z-index: 14999;
    }

    .simcal-event {
      list-style: none;
    }

    .simcal-events {
      margin: 0;
    }

  }

  .simcal-attachment,
  .simcal-attendee {

    list-style: none;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    small {
      opacity: .9;
      text-transform: lowercase;
    }

  }

  .simcal-attachment,
  .simcal-attendee,
  .simcal-organizer {

    a {
      border-bottom: 0;
      text-decoration: none;
    }

    img {
      display: inline-block;
      margin: 0 4px;
      max-height: 24px;
      max-width: 24px;
    }

  }

  .simcal-tooltip-content {
    font-size: 1.2em;
    line-height: 1.4;
    padding: 5px;
  }

}

// Light theme variations.
.simcal-default-calendar-light {

  // Nav buttons in light theme.
  .simcal-nav-button {

    color: transparentize($default-calendar-black, .4);

    &:disabled {
      color: transparentize($default-calendar-white, .1) !important;
      &:hover {
        color: transparentize($default-calendar-white, .1) !important;
      }
    }
    &:focus,
    &:hover {
      color: transparentize($default-calendar-black, .1);
    }

  }

  // Events toggle in light theme.
  .simcal-events-toggle {

    color: transparentize($default-calendar-black, .4);

    &:hover {
      background-color: transparentize($default-calendar-black, .9);
      color: $default-calendar-white;
    }

  }

}

// Dark theme variations.
.simcal-default-calendar-dark {

  // Nav buttons in dark theme.
  .simcal-nav-button {

    color: transparentize($default-calendar-white, .4);

    &:disabled {
      color: transparentize($default-calendar-black, .1) !important;
      &:hover {
        color: transparentize($default-calendar-black, .1) !important;
      }
    }
    &:focus,
    &:hover {
      color: transparentize($default-calendar-white, .1);
    }

  }

  // Events toggle in dark theme.
  .simcal-events-toggle {

    color: transparentize($default-calendar-white, .4);

    &:hover {
      background-color: transparentize($default-calendar-white, .9);
      color: $default-calendar-black;
    }

  }

}
