$default-calendar-black: rgb(0, 0, 0);
$default-calendar-white: rgb(255, 255, 255);

.simcal-default-calendar {

  // Calendar header.
  .simcal-current h3 {
    margin: 0;
    padding: 0;
  }

  .simcal-nav {
    vertical-align: middle;
  }

  // Navigation buttons.
  .simcal-nav-button {

    background: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    padding: 0;
    transition: margin .2s ease-out;
    width: 100%;

    &:focus,
    &:hover {
      background: transparent;
      border: 0;
      box-shadow: none;
      outline: none;
    }

    &.simcal-prev:hover {
      margin-left: -10px;
    }

    &.simcal-next:hover {
      margin-right: -10px;
    }

    &:disabled {
      cursor: default;

      &:hover {
        margin: 0;
        padding: 0;
      }
    }
  }

  // Events container
  .simcal-events {
    list-style: none;
    margin-left: 0;
  }

  // Toggle events button.
  .simcal-events-toggle {

    border: 0;
    box-shadow: none;
    text-align: center;
    width: 100%;

    &:active,
    &:focus,
    &:hover {
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }

  // GCal attendees & attachments
  ul.simcal-attachments,
  ul.simcal-attendees {
    margin: 0;
    padding: 0;
  }

  li.simcal-attachment,
  li.simcal-attendee {

    list-style: none;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    small {
      opacity: .9;
      text-transform: lowercase;
    }
  }

  // GCal attendees, attachments & organizer
  li.simcal-attachment,
  li.simcal-attendee,
  .simcal-organizer {

    a {
      border-bottom: 0;
      text-decoration: none;
    }

    img {
      display: inline-block;
      margin: 0 4px;
      max-height: 24px;
      max-width: 24px;
    }
  }

  .simcal-tooltip-content {
    font-size: 1.2em;
    line-height: 1.4;
    padding: 5px;
  }

  .simcal-ajax-loader {

    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    > i {
      font-size: 48px;
      left: 50%;
      line-height: 1;
      margin: -36px 0 0 -36px;
      position: absolute;
      top: 50%;
    }

    &.simcal-spinner-top > i {
      top: 20%;
    }

    &.simcal-spinner-bottom > i {
      bottom: 20%;
      top: auto;
    }
  }
}

// Light theme variations.
.simcal-default-calendar-light {

  // Nav buttons in light theme.
  .simcal-nav-button {

    color: transparentize($default-calendar-black, .4);

    &:disabled {
      color: transparentize($default-calendar-white, .1) !important;
      &:hover {
        color: transparentize($default-calendar-white, .1) !important;
      }
    }

    &:focus,
    &:hover {
      color: transparentize($default-calendar-black, .1);
    }
  }

  // Events toggle in light theme.
  .simcal-events-toggle {

    color: transparentize($default-calendar-black, .4);

    &:hover {
      background-color: transparentize($default-calendar-black, .9);
      color: $default-calendar-white;
    }
  }

  .simcal-ajax-loader {

    background-color: transparentize($default-calendar-black, .9);

    > i {
      color: transparentize($default-calendar-black, .7);
    }
  }
}

// Dark theme variations.
.simcal-default-calendar-dark {

  // Nav buttons in dark theme.
  .simcal-nav-button {

    color: transparentize($default-calendar-white, .4);

    &:disabled {
      color: transparentize($default-calendar-black, .1) !important;
      &:hover {
        color: transparentize($default-calendar-black, .1) !important;
      }
    }

    &:focus,
    &:hover {
      color: transparentize($default-calendar-white, .1);
    }
  }

  // Events toggle in dark theme.
  .simcal-events-toggle {

    color: transparentize($default-calendar-white, .4);

    &:hover {
      background-color: transparentize($default-calendar-white, .9);
      color: $default-calendar-black;
    }
  }

  .simcal-ajax-loader {

    background-color: transparentize($default-calendar-white, .9);

    > i {
      color: transparentize($default-calendar-white, .7);
    }
  }
}
