.simcal-default-calendar-grid {

  > table {

    table-layout: fixed;
    width: 100%;

    thead th,
    tbody td {
      padding: 0;
      vertical-align: top;
    }

  }

  .simcal-calendar-head {
    .simcal-nav {
      padding: 10px 0;
      vertical-align: middle;
    }
  }

  // Table cells.
  .simcal-day > div {
    box-sizing: content-box;
    display: block;
    height: 100%;
  }

  // Cells in the grid before the start day of the month.
  .simcal-day-void {
    border-width: 0;
    height: 100%;
    min-height: 32px;
  }

  // The number of the day in a month.
  .simcal-day-number {
    display: block;
    line-height: 1;
    padding: 2px 4px 3px;
    vertical-align: middle;
  }

  // When there are no events, this is a spacer.
  .simcal-no-events {
    display: block;
    min-height: 32px;
  }

  // Light color theme variations.
  &.simcal-default-calendar-light {

    .simcal-day {
      &:hover {
        background-color: transparentize( $default-calendar-black, .9);
      }
    }

    .simcal-day-void {

      background-color: transparentize( $default-calendar-black, .96);

      &:hover {
        background-color: transparentize( $default-calendar-black, .96);
      }

    }

    .simcal-day-number {
      background: transparentize($default-calendar-black, .9);
    }

  }

  // Dark theme color variations.
  &.simcal-default-calendar-dark {

    .simcal-day {
      &:hover {
        background-color: transparentize( $default-calendar-white, .82);
      }
    }

    .simcal-day-void {

      background-color: transparentize( $default-calendar-white, .95);

      &:hover {
        background-color: transparentize( $default-calendar-white, .95);
      }
    }

    .simcal-day-number {
      background: transparentize($default-calendar-white, .9);
    }

  }

  // List of events in a day.
  .simcal-events {

    font-size: .58em;
    line-height: 1.44;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    // An event.
    > .simcal-event {

      border-bottom-style: solid;
      border-bottom-width: 1px;
      cursor: pointer;
      margin-bottom: 2px;
      padding: 4px;

      &:hover {
        text-decoration: underline;
      }

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
      }

    }

  }

  &.simcal-default-calendar-light {
    .simcal-event {
        border-bottom-color: transparentize($default-calendar-black, .9);
    }
  }

  &.simcal-default-calendar-dark {
    .simcal-event {
      border-bottom-color: transparentize($default-calendar-white, .9);
    }
  }

  // List of events in mobile mode.
  .simcal-events-dots {
    cursor: pointer;
    display: block;
    line-height: .7;
    margin: 3px 0;
    text-align: center;
  }

  // Button to toggle visibility of events.
  .simcal-events-toggle {

    background: transparent;
    display: block;
    font-size: 10px;
    padding: 2px 0;

  }

}

// Event bubbles.
.qtip-content {
  .simcal-event-details {
    p {
      margin-bottom: 1em;
    }
  }

}
