/* Global admin styles used across wp-admin screens. */

/* Admin menu "New!" badge for Connect submenu. */
#adminmenu .sc_menu_badge_new {
	color: #f18200;
	font-size: 10px;
	margin-left: 3px;
	vertical-align: super;
}
