#wpwrap{
  background-color: #F2F7FB;    
}

.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:hover{
  background: none;
  border-bottom: 3px solid #60BC4E;
}

.nav-tab-active:active{
  color: #3A414C;
}

#simcal-settings-page-form .sc-link:hover{
  color: #60BC4E;
}

#simcal-settings-page-form a:active{
  color: #3A414C;
}

span.simcal-field-bool {
  margin-left: 35%;
}
.semical-feeds-tab .form-table th,.semical-calendars-tab .form-table th,.semical-licenses-tab .form-table th{
  width: 100%;
  display: block;  
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
  font-family: 'poppins',sans-serif;
}

.semical-feeds-tab .form-table td,.semical-calendars-tab .form-table td,.semical-licenses-tab .form-table td{
  display: block;
  padding: unset;
} 
.form-table th{
  padding: 14px 14px 14px 0px;
}

#simcal-settings-page-form .button-primary{
  background-color: #60BC4E;
  font-size: 16px;
  border-color: unset;
  border-radius: 7px;
  width: 150px;
  height: 40px;
  
}
#simcal-settings-page-form .button-primary:focus{
 box-shadow: unset;
  
}

#simcal-settings-page-form .submit{
  padding: unset;
}

.flex h2{
  font-size: 20px;
  font-weight: 600;
}

#simcal-settings-page-form .form-table, .form-table td, .form-table td p, .form-table th h2{
  font-size: 16px;
}

.form-table th {
  font-weight: 400;
  font-size: 16px;
}

.nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
  border-bottom: unset;
}

.wp-person a:focus .gravatar, a:focus, a:focus .media-icon img, a:focus .plugin-icon{
  box-shadow: unset;
}

.simcal-icon-help:before{
  color: #60BC4E;
}

#simcal-settings-page-form p {
  font-size: 14px;
  font-weight: 400;  
  line-height: 21px;  
}

#simcal-settings-page-form .simcal-field-bool>input {
  line-height: unset;
}

#simcal-settings-page-form div#setting-error-settings_updated {
  max-width: 1302px;
  margin: 1% 0 0 5% ;
}
#simcal-settings-page-form .notice-error{
  max-width: 1302px;
  margin: 1% 0 0 5% ;
}
a.button.button-secondary{
  background:#60BC4E ;
  color: white;
  border: unset;
}
a.button.button-secondary:hover{
  background:#60BC4E ;
  color: white;
  border: unset;
}

#simcal-settings-page .simcal-wide-text {
  max-width: 689px;
}

#simcal-settings-page .select2 {
  max-width: 95%;
}

input[type=checkbox]:checked::before{
  content: url('green-tick.png');
  margin: 0px;
  width: 0px;
 border: none;
}



input[type=checkbox], input[type=radio]{
  height: 21.5px;
  width: 21.5px; 
}

h2 , h3{
  color: #3A414C;
}

.form-table th, .form-wrap label {
  color: #3A414C;
}
  
.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover, .wp-core-ui .button-primary:active{
  border: unset;
  background: unset;
}  

.simcal-addon-manage-license-buttons {
  margin-top: 20px;
}

button.button-secondary.simcal-addon-manage-license.activate, button.button-secondary.simcal-addon-manage-license.deactivate{
  background-color: #60BC4E;
  color: white;
  border: unset;
}

.form-table{
  border-collapse:unset;
}

.regular-text {
  width: 90%;
}

.notice.notice-error.is-dismissible {
max-width: 1302px;
margin: 1% 0 0 5% ;
}

.wp-core-ui .button-secondary:focus, .wp-core-ui .button.focus, .wp-core-ui .button:focus {
  box-shadow: unset;
}

.sc-error-notice{
  display: inherit;
  margin-top: 25px;
  padding: 20px 5px;    
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;    
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

#simcal-settings-page-form input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
  box-shadow: 0 0 0 transparent;
  border-radius: 4px;
  border: 1px solid #D4D4D8;
  background-color: #fff;
  color: #71717A;
}

.select2-container .select2-selection--multiple .select2-selection__rendered{
  display: unset;
  height: 40px;
  border-radius: 5px;
}
.select2-container .select2-selection--multiple{
  height: 40px;
  border-radius: 5px;
}

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
  box-shadow: unset;
  border-color: unset;
  outline: unset;
}












