body #_simcal_attach_calendar_id,
body .simcal-calendar-widget-settings select {
	width: 100%;
}

body .select2-container--default .select2-selection--single {
	border-color: #ccc;
	border-radius: 0;
}

body .select2-container {
	z-index: 1000000;
}

body.post-type-gce_feed #gce-insert-shortcode-button {
	display: none;
}

.wp-media-buttons a.add_calendar span.wp-media-buttons-icon {
	background: none;
}

.gce-insert-shortcode-panel {
	max-width: 90%;
	position: relative;
}
.gce-insert-shortcode-panel select {
	display: block;
	max-width: 470px;
	width: 100%;
}

body .gce-insert-shortcode-modal {
	height: 220px !important;
	margin-left: -250px !important;
	width: 500px !important;
}

body .gce-insert-shortcode-modal-title {
	background: #fff !important;
	border-bottom: none !important;
	height: 0 !important;
}
/* edit post page styles */
.simcal-settings-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #00000099;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	z-index: 10;
}

.simcal-settings-mask__message {
	font-family: Poppins, sans-serif;
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	letter-spacing: 0;
	text-align: center;
	color: #ffffff;
	margin: 0;
	padding: 0 24px;
}
