
  /* setting admin page */
  .form-table th{
    width: 100%!important;
    display: block!important;
  }
  .form-table td{
    width: 100%!important;
    display: block!important;
  }

  .form-table td{
    padding: unset;
  }

  .button-primary{
    background-color: #60BC4E!important;
    font-size: 16px!important;
    border-color: unset!important;
    border-radius: 7px!important;
    /* padding: 8px, 16px, 8px, 16px!important; */
    width: 150px;
    height: 40px;
  }

  .flex h2{
    font-size: 20px;
    font-weight: 600;
  }
  .form-table, .form-table td, .form-table td p, .form-table th h2{
    font-size: 16px!important;
  }
  .form-table th {
    font-weight: 400;
    font-size: 16px;
  }
  .nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
    border-bottom: unset;
  }
  .wp-person a:focus .gravatar, a:focus, a:focus .media-icon img, a:focus .plugin-icon{
    box-shadow: unset;
  }
  .simcal-icon-help:before{
    color: #60BC4E;
  }
  /* .nav-tab-active{
    background-color: white;
    text-decoration: underline;
  } */


  /* input#simple-calendar-settings-feeds-google-api_key {
    width: 100%;
    display: block;
} */