  #wpwrap{
    background-color: #F2F7FB;    
  }

  .nav-tab-active, .nav-tab-active:focus, .nav-tab-active:hover{
    background: none;
    border-bottom: 3px solid #60BC4E;
  }

  .nav-tab-active:active{
    color: black;
  }
  
  #simcal-settings-page-form a:hover{
    color: #60BC4E;
  }

  #simcal-settings-page-form a:active{
    color: black;
  }

  span.simcal-field-bool {
    margin-left: 25%;
  }
  .semical-feeds-tab .form-table th,.semical-calendars-tab .form-table th{
    width: 100%;
    display: block;  
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    font-family: 'poppins',sans-serif;
  }

  .semical-feeds-tab .form-table td,.semical-calendars-tab .form-table td{
    display: block;
    padding: unset;
  } 
  .form-table th{
    padding: 14px 14px 14px 0px;
  }

  #simcal-settings-page-form .button-primary{
    background-color: #60BC4E;
    font-size: 16px;
    border-color: unset;
    border-radius: 7px;
    width: 150px;
    height: 40px;
    
  }

  #simcal-settings-page-form .submit{
    padding: unset;
  }

  .flex h2{
    font-size: 20px;
    font-weight: 600;
  }
  
  #simcal-settings-page-form .form-table, .form-table td, .form-table td p, .form-table th h2{
    font-size: 16px;
  }

  .form-table th {
    font-weight: 400;
    font-size: 16px;
  }

  .nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
    border-bottom: unset;
  }

  .wp-person a:focus .gravatar, a:focus, a:focus .media-icon img, a:focus .plugin-icon{
    box-shadow: unset;
  }

  .simcal-icon-help:before{
    color: #60BC4E;
  }

  #simcal-settings-page-form p {
    font-size: 14px;
    font-weight: 400;  
    line-height: 21px;  
  }

  #simcal-settings-page-form .simcal-field-bool>input {
    line-height: unset;
  }
  
  #simcal-settings-page-form div#setting-error-settings_updated {
    max-width: 1302px;
    margin: 10px 0 0 101px ;
  }
  
  #simcal-settings-page .simcal-wide-text {
    max-width: 689px;
  }

  #simcal-settings-page .select2 {
    max-width: 95%;
  }

  input[type=checkbox]:checked::before{
    content: url('green-tick.png');
    margin: unset;
  }

  input[type=checkbox], input[type=radio]{
    height: 21px;
    width: 22px;
    padding: 3px;
  }
 




















