.simcal-default-calendar-list {
	min-height: 100px;
	padding: 10px 0;
	text-align: left;
}
.simcal-default-calendar-list .simcal-calendar-head {
	display: table;
	padding-bottom: 10px;
	width: 100%;
}
.simcal-default-calendar-list .simcal-calendar-head .simcal-nav {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 20%;
}
.simcal-default-calendar-list .simcal-calendar-head .simcal-nav:nth-child(2) {
	width: 60%;
}
.simcal-default-calendar-list .simcal-calendar-head .simcal-current span {
	display: inline-block;
}
.simcal-default-calendar-list .simcal-calendar-head .simcal-hide-header {
	visibility: hidden;
}
.simcal-default-calendar-list dl.simcal-month {
	margin-bottom: 10px;
	padding: 0 10px 10px;
}
.simcal-default-calendar-list dd.simcal-day {
	list-style: none;
	margin: 0;
}
.simcal-default-calendar-list dt.simcal-day-label {
	font-size: 0.9em;
	list-style: none;
	margin: 20px 0 10px;
}
.simcal-default-calendar-list dt.simcal-day-label > span {
	display: inline-block;
	padding: 4px 8px;
}
.simcal-default-calendar-list ul.simcal-events {
	margin: 10px 14px 0;
}
.simcal-default-calendar-list ul.simcal-events li.simcal-event {
	list-style-type: none;
	margin-bottom: 10px;
	word-wrap: break-word;
}
.simcal-default-calendar-list .simcal-event-details {
	font-size: 0.84em;
	line-height: 1.5;
	overflow: hidden;
}
.simcal-default-calendar-list .simcal-event-details p,
.simcal-default-calendar-list .simcal-event-details .simcal-event-description {
	margin: 0 0 1em;
}
.simcal-default-calendar-list .simcal-events-toggle {
	display: inline-block;
	padding: 0;
}
.simcal-default-calendar-list.simcal-default-calendar-light .simcal-events-toggle {
	background-color: rgba(0, 0, 0, 0.1);
}
.simcal-default-calendar-list.simcal-default-calendar-dark .simcal-events-toggle {
	background-color: rgba(255, 255, 255, 0.1);
}
.simcal-default-calendar-list .simcal-calendar-list-compact .simcal-calendar-head .simcal-nav h3 {
	font-size: 1em;
}
