
.wp-admin .simcal-field-inline,
.wp-admin .simcal-field-inline > input,
.wp-admin .simcal-field-inline > select {
  display: inline-block;
  vertical-align: baseline;
}

body .simcal-field-tiny,
body .simcal-panel-field .simcal-field-tiny {
  max-width: 60px;
}

body .simcal-field-small,
body .simcal-panel-field .simcal-field-small {
  max-width: 100px;
}

// Textarea
body .simcal-field-textarea,
// Select2
body .simcal-field-select-enhanced {
  max-width: 500px;
  width: 100%;
}
// Fixes a bug with customizer.
.select2-container {
    z-index: 999999;
}

// ========
// Textarea
// ========

body .simcal-field-textarea {
  min-height: 64px;
  vertical-align: top;
}

// ======
// Radios
// ======

.simcal-field-radios {
  > i {
    margin-left: 5px;
    vertical-align: middle;
  }
}
// When inline.
.simcal-field-radios-inline {

  display: inline-block;
  margin: 0;

  > li {

    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

  }

}

// ==========
// Checkboxes
// ==========

// Single checkbox.
.simcal-field-bool > input {
  line-height: 2.4;
}

// =================
// Date picker field
// =================

.simcal-field-date-picker {
  > input[type="text"] {
    max-width: 120px;
  }
}

#ui-datepicker-div.simcal-date-picker {

  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .10);
  padding: 8px 10px;

  .ui-datepicker-header {

    > a {

      display: inline-block;
      cursor: pointer;
      margin-top: 7px;

      &:first-of-type {
        float: left;
      }

      &:last-of-type {
        float: right;
      }

    }

    .ui-datepicker-title {
      margin: 0 10% 4px;
      > select {
        width: 48.5%;
      }
    }

  }

  .ui-datepicker-today {
    background-color: #eee;
  }

  > table tr {

    td,
    th {
      padding: 2px 4px;
      text-align: center;
      a {
        text-decoration: none;
      }
    }

  }

}

// ====================
// Date formatter field
// ====================

.simcal-field-datetime-format {

  padding: 10px 0 5px;

  > div {
    background-color: rgba(0, 0, 0, .03);
    border: 1px dashed rgba(0, 0, 0, .18);
    border-radius: 3px;
    cursor: move;
    display: inline-block;
    float: left;
    margin: 0 10px 15px 0;
    padding: 10px;
  }

  select {
    display: block;
  }

  > span {
    clear: both;
    display: block;
  }

  .ui-sortable-helper {
    box-shadow: -2px 4px 8px rgba(0, 0, 0, .12);
    transform: rotate(2deg);
  }

}

// =================
// Date offset field
// =================

.simcal-field-date-offset {

  max-width: 500px;
  position: relative;

  > span {
    color: #cacaca;
    position: absolute;
    text-transform: lowercase;
    top: 36px;
  }

  &.simcal-field-past-offset {

    > .simcal-date-offset-today {
      margin-right: -10px;
      right: 0;
    }

    > .simcal-date-offset-past {
      left: 0;
      margin-left: -10px;
    }

  }

  &.simcal-field-future-offset {

    > .simcal-date-offset-today {
      left: 0;
      margin-left: -10px;
    }

    > .simcal-date-offset-future {
      margin-right: -10px;
      right: 0;
    }

  }

  > strong {
    display: inline-block;
    margin-left: -6px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
  }

  > select {
    text-transform: lowercase;
  }

}

.simcal-date-offset-slider {

  background-color: rgba(0, 0, 0, .1);
  height: 2px;
  margin: 38px 0 12px;
  position: relative;
  text-align: left;

  .ui-slider-handle {

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    cursor: default;
    height: 1.2em;
    margin-left: -.6em;
    position: absolute;
    top: -.6em;
    touch-action: none;
    -ms-touch-action: none;
    width: 1.2em;
    z-index: 2;

  }

  > .ui-slider-tick-mark {
    background-color: rgba(0, 0, 0, .2);
    height: 6px;
    position: absolute;
    top: -5px;
    width: 1px;
  }

  .ui-slider-range {
    background-position: 0 0;
    border: 0;
    display: block;
    font-size: .7em;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .ui-slider-range-min {
    left: 0;
  }

  .ui-slider-range-max {
    right: 0;
  }

  // IE8
  &.ui-state-disabled .ui-slider-handle,
  &.ui-state-disabled .ui-slider-range {
    filter: inherit;
  }

}
