.ui-datepicker {
  left: -9999px;
  position: absolute;
}

#simcal-clear-cache {
  float: right;
  margin: 0 10px 10px;
}

#simcal-get-shortcode {

  .inside {
    padding: 5px 15px 10px;
    text-align: center;
  }

  input {
    width: 100%;
  }

}

#simcal-upgrade,
#simcal-newsletter {
	background-color: #fcf8e3;

	input {
		width: 100%;
	}
}

#simcal-calendar-settings {

  // Brought back by js, after tabs init.
  display: none;

  .hndle {
    line-height: 2;
    padding: 10px;
  }

  .inside {
    margin: 0;
    padding: 0;
  }

  .select2-container {
    border-radius: 0;
    max-width: 500px;
  }

  .select2-search__field {

    border: 0 !important;
    box-shadow: none !important;
    margin: 0;

    &:focus {
      border: 0 !important;
      box-shadow: none !important;
    }

  }

  .select2-selection {
    border: 1px solid #ddd;
    border-radius: 0;
  }

  .select2-container--open .select2-selection {
    border-color: #5b9dd9;
    box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 );
  }

  .select2-selection__choice {
    margin-bottom: 0;
  }

  .wp-picker-container {
    vertical-align: inherit;
  }

}

.simcal-box-handle {

  display: inline-block;
  line-height: 1;
  margin-left: 8px;

  &:before {
    content: '\2014';
    display: inline-block;
    font-weight: normal;
  }

  label {
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
    vertical-align: baseline;
  }

  select {
    font-weight: bold;
    margin: -3px 0 0 .5em;
    vertical-align: middle;
  }

}

.simcal-tabs {

  background: #fafafa;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  float: left;
  line-height: 1em;
  margin: 0;;
  padding: 0 0 10px;
  position: relative;
  width: 20%;

  a {

    border-bottom: 1px solid #eee;
    display: block;
    line-height: 20px !important;
    margin: 0;
    padding: 10px;
    text-decoration: none;

    &:focus {
      box-shadow: none;
    }

  }

  li {

    display: block;
    margin: 0;
    padding: 0;

    &.active a {
      background-color: #eee;
      color: #555;
      position: relative;
    }

  }

  &:after {
    background-color: #fafafa;
    border-right: 1px solid #eee;
    bottom: -9999em;
    content: "";
    display: block;
    height: 9999em;
    left: 0;
    position: absolute;
    width: 100%;
  }

}

.simcal-panels-wrap {
  background: #fff;
  overflow: hidden;
}

.simcal-panel {

  margin-left: 20%;
  max-width: 80%;

  > table {

    padding-bottom: 11px;
    width: 100%;

    thead th {
      border-bottom: 1px solid #eee;
      font-size: 14px;
      font-weight: bold;
      padding: 12px 0 15px 10px;
      text-align: left;
    }

    > tbody tr:first-child td,
    > tbody tr:first-child th {
      padding-top: 14px;
    }

    > tbody tr:last-child td,
    > tbody tr:last-child th {
      border-bottom: 1px solid #eee;
      padding-bottom: 14px;
    }

    > tbody:last-of-type tr:last-child td,
    > tbody:last-of-type tr:last-child th {
      border-bottom: 0;
    }

  }

}

.simcal-panel-field {

  > td {
    width: 82%;
  }

  > th {
    font-weight: normal;
    min-width: 100px;
    width: 15%;
  }

  > td,
  > th {
    padding: 9px 3% 9px 10px;
    text-align: left;
    vertical-align: text-top;
  }

  .simcal-field-text {
    max-width: 500px;
    width: 90%;
  }

}

@media screen and (max-width: 1023px) {

  .simcal-box-handle {

    display: block;
    line-height: 2;
    margin: 16px 0 0;

    &:before {
      display: none;
    }

    label {

      display: table;
      margin-bottom: 16px;
      width: 100%;

      > span {
        display: table-cell;
        width: 20%;
      }

      > select {
        display: table-cell;
        width: 80%;
      }

    }

    .simcal-tabs {

      width: 16%;

      i {
        font-size: 18px;
        line-height: 1;
      }

      span {
        display: none;
      }

    }

    .simcal-panel {
      margin-left: 16%;
      max-width: 84%;
    }

    .simcal-panel-section {
      display: block;
      overflow: hidden;
    }

    .simcal-panel-field {

      th {
        display: block;
        width: 100%;
      }

      td {
        display: inline-block;
        width: 100%;
      }

      select {
        max-width: 86%;
      }

    }

  }

}
