#simcal-settings-page {

  .simcal-wide-text {
    width: 40em;
  }

  .select2 {
    max-width : 500px;
  }

  .select2-search__field {

    border: 0 !important;
    box-shadow: none !important;
    margin: 0;

    &:focus {
      border: 0 !important;
      box-shadow: none !important;
    }

  }

  .select2-selection {
    border: 1px solid #ddd;
    border-radius: 0;
  }

  .select2-container--open .select2-selection {
    border-color: #5b9dd9;
    box-shadow: 0 0 2px rgba( 30, 140, 190, 0.8 );
  }

}

#simcal-system-status-report {
  textarea {
    font-family: monospace;
    min-height: 200px;
    padding: 5px 20px;
    white-space: pre;
    width: 100%;
  }
}

.simcal-system-status-report-panel {

  margin: 20px 0;

  thead th {
    font-weight: bold;
  }

  tbody td,
  thead th {
    font-size: 14px;
    vertical-align: top;
  }

  tbody {

    .tooltip {
      text-align: center;
      width: 20px;
    }

    .label {
      width: 30%;
    }

    tr:nth-child(odd) td {
      background-color: rgba(0, 0, 0, .02);
    }

  }

  dl {
    margin: 0;
    padding: 0;
  }

  dt {

    float: left;
    font-style: italic;
    margin: 0 4px 0 0;

  }

  dd {
    margin: 0;
  }

  mark {

    background-color: transparent;
    font-weight: bold;

    &.ok {
      color: green;
    }

    &.error {
      color: red;
    }

  }

}

#simcal-reset-licenses {
  color: red;
}
