
// Tooltip icons.
.simcal-help-tip {
  color: rgba(0, 0, 0,.46);
  cursor: help;
}

#tiptip_holder {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 99999;
}

#tiptip_holder.tip_top {
  padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
  padding-top: 5px;
}

#tiptip_holder.tip_right {
  padding-left: 5px;
}

#tiptip_holder.tip_left {
  padding-right: 5px;
}

#tiptip_content {
  background-color: rgba(25, 25, 25, .92);
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  padding: 4px 8px;
}

#tiptip_arrow, #tiptip_arrow_inner {
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  position: absolute;
  width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
  border-top-color: rgba(25, 25, 25, .92);
  margin-left: -6px;
  margin-top: -7px;
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  border-bottom-color: rgba(25,25,25,0.92);
  margin-left: -6px;
  margin-top: -5px;
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
  border-right-color: rgba(25,25,25,0.92);
  margin-left: -5px;
  margin-top: -6px;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
  border-left-color: rgba(25,25,25,0.92);
  margin-left: -7px;
  margin-top: -6px;
}

// Webkit Hacks
@media screen and (-webkit-min-device-pixel-ratio:0) {

  #tiptip_content {
    background-color: rgba(45,45,45,0.88);
    padding: 4px 8px 5px 8px;
  }

  #tiptip_holder.tip_bottom #tiptip_arrow_inner {
    border-bottom-color: rgba(45,45,45,0.88);
  }

  #tiptip_holder.tip_top #tiptip_arrow_inner {
    border-top-color: rgba(20,20,20,0.92);
  }

}
